
/* FONT UPLOAD */

@font-face {
    font-family: 'ProximaNovaRegular';
    src: url(ProximaNova-Regular.otf);
}
@font-face {
  font-family: 'ProximaNovaItalic';
  src: url(ProximaNovaAltRegularItalic.otf);
}
@font-face {
  font-family: 'ProximaNovaBold';
  src: url(ProximaNova-Bold.otf);
}
@font-face {
  font-family: 'ProximaNovaExtrabold';
  src: url(ProximaNovaExtrabold.otf);
}

.secondary{
  font-family: Helvetica, Sans-serif;
}

/* FONT COLOR */ 

.greyText {/*greyText*/
  color: rgb(85, 85, 85); 
}

.blueText {/*greyText*/
  color: rgb(70, 62, 231); ; 
}

/* FONT SIZES */ 

*{ /* 1. UI: HOME PAGE */ 
  h1 {/*Buzzfeed Header*/
    font-family: 'ProximaNovaExtrabold';
    font-size: 40px;
    line-height: 0px;
    margin-top: 50px;
    margin-bottom: 50px
  }
  h2 { /*Fake Buttons Text*/
    font-family: Helvetica;
    font-size: 15px;
    line-height: 0;
    margin-top: 20px;
    margin-bottom: 20px
  }
  h3 {/*Small Page Details*/
    font-family: Helvetica;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  h4 {/* Page Title*/
    font-family: 'ProximaNovabold';
    font-size: 40px;
    line-height: 0px;
    margin-top: 50px;
    margin-bottom: 30px
  }
  h5 {/* Sub Title*/
    font-family: Helvetica;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    color:rgb(85, 85, 85);

  }
  h6 {/* Page Description*/
    font-family: Helvetica;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  h7 {/* Tiny Description*/
    font-family: Helvetica;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    color:rgb(122, 122, 122);
  }
}

/* Links */


a {

  color: rgb(70, 62, 231);/* Default link color */
  
  text-decoration: none; /* Remove underline on hover */
  
  cursor: url('images/cursor_Point.png'), auto;
  
  
  }
  a:visited {
  
  color:  rgb(70, 62, 231); /* Different color for visited links */
  
  text-decoration: none; /* Remove underline on hover */
  
  }
  a:hover {
  
  color: rgb(31, 31, 86); /* Darker color on hover */
  
  text-decoration: none; /* Remove underline on hover */
  
  cursor: url('images/cursor_Point.png'), auto;
  
  }
