
/* FONT UPLOAD */

@font-face {
  font-family: 'ProximaNovaRegular';
  src: url(ProximaNova-Regular.otf);
}
@font-face {
font-family: 'ProximaNovaItalic';
src: url(ProximaNovaAltRegularItalic.otf);
}
@font-face {
font-family: 'ProximaNovaBold';
src: url(ProximaNova-Bold.otf);
}
@font-face {
font-family: 'ProximaNovaExtrabold';
src: url(ProximaNovaExtrabold.otf);
}

/* User Input */

input[type="radio"] {
  width: 15px;
  margin-left: 20px;
  margin-top: 0px;
}

input{
  width: 50%;
  border-width: 2px;
  font-size: 24px;
  padding-left: 10px;
}

.radio-group{
  display: flex;
  display: inline;
  min-height: 30px;
  min-width: 590px;
  border-width: 2px;
  font-size: 20px;
  margin: 8px;
  padding: 8px;  
  text-align: center;
}

select{
  width: 50%;
  min-height: 40px;
  font-size: 20px;
}

/* Header Page Sections */

.header {
  grid-area: header;
  background-color: rgb(255, 255, 255);
  color: rgb(238 51 34); 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-height: 60px;
}

.Line {
  grid-area: header;
  background-color: rgb(143, 143, 143);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 1px;
}

.secondaryheader {
  grid-area: header;
  background-color: rgb(255, 255, 255);
  color: rgb(104, 104, 104); 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-height: 60px;
}

.blankgreyheader {
  grid-area: header;
  background-color: rgb(231, 231, 231);
  display: flex;
  flex-direction: column;
  height: 160px;
}

/* Main Page Sections */

body {
  font-family: 'Helvetica';
  background-color: rgb(255, 255, 255);
  margin: 0px;
}

.box {
  display:flex;
  justify-content: center;
  align-items: center;
}

.grid-container {
min-height: 100vh;
margin: 0 350px;
display: grid;
background-color: black;
grid-template-areas: 
"header header header"
"hero hero hero"
"subhero subhero subhero"
"footer footer footer";
}

.hero {
  grid-area: hero;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(248, 248, 248);
  padding-left: 2%;
  padding-right: 15%;
  margin: 0px;
  display: column;
}

.subhero {
  grid-area: subhero;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 3%;
  padding-right: 15%;
  background-color: rgb(248, 248, 248);
  margin: 0px;
}

.footer {
  grid-area: footer;
  background-color: rgb(248, 248, 248);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #616161;
  text-align: center;
}

/* Content Sections */

contentbox {
  padding: 24px;
  justify-content: center;
  align-items: center;
  min-width: 100%;
}

centeredcontentbox {
  padding: 24px;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  text-align: center;
}

Boldcontentbox {
  padding: 24px;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  border-radius: 0.3em;
  border: 3px solid rgba(39, 39, 40, 0.445);
}

.footer-content {
  padding: 18px;
}

/* Quiz Decoration */

red{
  color: rgb(39, 35, 146);
}

.yellowButton { /* Quiz Decoration */
  height: 45px;
  width: 45px;
  background-color: #ffee00;
  margin: 5px;
  margin-bottom: 20px;
  border-radius: 20px; 
}

.greyButton { /* Quiz Decoration */
  min-height: 1.3vh;
  width: 45%;
  background-color: #d7d7d7;
  margin-top: 16px;
  border-radius: 18px; 
}

.blueButton { /* Quiz Decoration */
  min-height: 1.3vh;
  width: 45%;
  background-color: rgb(70, 62, 231); 
  color: white;
  margin-top: 16px;
  border-radius: 18px; 
}

.Button { /* Main Button */
  border-radius: 0.5em;
  border: 3px solid rgba(39, 39, 40, 0.445);
  padding: 10px;
  margin: 5px;
  min-width: 250px;
  text-align: center;

}

.smallButton { /* Skip Button */
  border-radius: 0.5em;
  border: 3px solid rgba(39, 39, 40, 0.445);
  padding: 10px;
  margin: 0px;
  margin-left: 50%;
  width: 250px;
  text-align: right;
}



